In [2]:
from sklearn import linear_model
from preprocess import *

In [15]:
df,x,y = preprocess_train('dataset/trainMerged.csv')

In [2]:
# df.to_csv('dataset/processing_data.csv', index=False)

In [16]:
df

,Store,Dept,Weekly_Sales,Size,Temperature,Fuel_Price,TypeA,TypeB,TypeC
0,1,1,24924.50,151315,42.31,2.572,1,0,0
1,1,26,11737.12,151315,42.31,2.572,1,0,0
2,1,17,13223.76,151315,42.31,2.572,1,0,0
3,1,45,37.44,151315,42.31,2.572,1,0,0
4,1,28,1085.29,151315,42.31,2.572,1,0,0
5,1,79,46729.77,151315,42.31,2.572,1,0,0
6,1,55,21249.31,151315,42.31,2.572,1,0,0
7,1,5,32229.38,151315,42.31,2.572,1,0,0
8,1,58,7659.97,151315,42.31,2.572,1,0,0
9,1,7,21084.08,151315,42.31,2.572,1,0,0
10,1,83,5711.19,151315,42.31,2.572,1,0,0
11,1,9,16930.99,151315,42.31,2.572,1,0,0
12,1,87,35972.49,151315,42.31,2.572,1,0,0
13,1,34,14350.83,151315,42.31,2.572,1,0,0
14,1,19,1947.05,151315,42.31,2.572,1,0,0
15,1,52,3508.04,151315,42.31,2.572,1,0,0
16,1,74,12251.94,151315,42.31,2.572,1,0,0
17,1,38,115564.35,151315,42.31,2.572,1,0,0
18,1,93,64494.87,151315,42.31,2.572,1,0,0
19,1,23,24146.49,151315,42.31,2.572,1,0,0
20,1,16,10217.55,151315,42.31,2.572,1,0,0
21,1,95,106690.06,151315,42.31,2.572,1,0,0
22,1,2,50605.27,151315,42.31,2.572,1,0,0
23,1,27,2293.00,151315,42.31,2.572,1,0,0
24,1,51,1.16,151315,42.31,2.572,1,0,0
25,1,4,39954.04,151315,42.31,2.572,1,0,0
26,1,80,15694.17,151315,42.31,2.572,1,0,0
27,1,29,7024.95,151315,42.31,2.572,1,0,0
28,1,56,2567.36,151315,42.31,2.572,1,0,0
29,1,31,3455.92,151315,42.31,2.572,1,0,0
...,...,...,...,...,...,...,...,...,...
421540,9,81,2592.77,125833,69.52,3.506,0,1,0
421541,9,27,776.43,125833,69.52,3.506,0,1,0
421542,9,22,5489.69,125833,69.52,3.506,0,1,0
421543,9,2,24859.90,125833,69.52,3.506,0,1,0
421544,9,44,4744.86,125833,69.52,3.506,0,1,0
421545,9,24,3609.43,125833,69.52,3.506,0,1,0
421546,9,96,4752.25,125833,69.52,3.506,0,1,0
421547,9,59,15.00,125833,69.52,3.506,0,1,0
421548,9,92,18310.28,125833,69.52,3.506,0,1,0
421549,9,28,264.31,125833,69.52,3.506,0,1,0
421550,9,17,4912.37,125833,69.52,3.506,0,1,0
421551,9,60,108.00,125833,69.52,3.506,0,1,0
421552,9,3,5918.55,125833,69.52,3.506,0,1,0
421553,9,30,1351.30,125833,69.52,3.506,0,1,0
421554,9,10,13680.78,125833,69.52,3.506,0,1,0
421555,9,5,21424.90,125833,69.52,3.506,0,1,0
421556,9,41,1328.79,125833,69.52,3.506,0,1,0
421557,9,34,5772.33,125833,69.52,3.506,0,1,0
421558,9,19,1730.33,125833,69.52,3.506,0,1,0
421559,9,36,517.74,125833,69.52,3.506,0,1,0
421560,9,21,3585.47,125833,69.52,3.506,0,1,0
421561,9,40,30853.03,125833,69.52,3.506,0,1,0
421562,9,82,10562.22,125833,69.52,3.506,0,1,0
421563,9,11,14595.69,125833,69.52,3.506,0,1,0
421564,9,95,32382.05,125833,69.52,3.506,0,1,0
421565,9,42,3469.16,125833,69.52,3.506,0,1,0
421566,9,91,914.84,125833,69.52,3.506,0,1,0
421567,9,25,4454.19,125833,69.52,3.506,0,1,0
421568,9,16,3199.63,125833,69.52,3.506,0,1,0
421569,9,71,1274.55,125833,69.52,3.506,0,1,0

In [4]:
reg = linear_model.Ridge (alpha = .5)
print('finish create linear model')

finish create linear model

In [5]:
x,y = send_xy(df)
print('finish define x, y')

finish define x, y

In [6]:
reg.fit (x, y) 
print('finish train model')

finish train model

In [7]:
print(reg.coef_)
print(reg.intercept_)

[-1.29478782e+02  1.10546927e+02  1.00675765e-01 -2.01962925e+00
  1.61784481e+02 -1.88045788e+03 -1.91813689e+03  3.79859471e+03]
1096.5640160502098

In [8]:
df_test = preprocess_test('dataset/testMerged.csv')

In [9]:
res = reg.predict(df_test)
len(res)

115064

In [10]:
df_sample_submission = pd.read_csv('dataset/sampleSubmission.csv')

In [11]:
df_sample_submission

                      Id  Weekly_Sales
0         1_1_2012-11-02             0
1         1_1_2012-11-09             0
2         1_1_2012-11-16             0
3         1_1_2012-11-23             0
4         1_1_2012-11-30             0
5         1_1_2012-12-07             0
6         1_1_2012-12-14             0
7         1_1_2012-12-21             0
8         1_1_2012-12-28             0
9         1_1_2013-01-04             0
10        1_1_2013-01-11             0
11        1_1_2013-01-18             0
12        1_1_2013-01-25             0
13        1_1_2013-02-01             0
14        1_1_2013-02-08             0
15        1_1_2013-02-15             0
16        1_1_2013-02-22             0
17        1_1_2013-03-01             0
18        1_1_2013-03-08             0
19        1_1_2013-03-15             0
20        1_1_2013-03-22             0
21        1_1_2013-03-29             0
22        1_1_2013-04-05             0
23        1_1_2013-04-12             0
24        1_1_2013-04-19             0
25        1_1_2013-04-26             0
26        1_1_2013-05-03             0
27        1_1_2013-05-10             0
28        1_1_2013-05-17             0
29        1_1_2013-05-24             0
...                  ...           ...
115034  45_98_2013-01-04             0
115035  45_98_2013-01-11             0
115036  45_98_2013-01-18             0
115037  45_98_2013-01-25             0
115038  45_98_2013-02-01             0
115039  45_98_2013-02-08             0
115040  45_98_2013-02-15             0
115041  45_98_2013-02-22             0
115042  45_98_2013-03-01             0
115043  45_98_2013-03-08             0
115044  45_98_2013-03-15             0
115045  45_98_2013-03-22             0
115046  45_98_2013-03-29             0
115047  45_98_2013-04-05             0
115048  45_98_2013-04-12             0
115049  45_98_2013-04-19             0
115050  45_98_2013-04-26             0
115051  45_98_2013-05-03             0
115052  45_98_2013-05-10             0
115053  45_98_2013-05-17             0
115054  45_98_2013-05-24             0
115055  45_98_2013-05-31             0
115056  45_98_2013-06-07             0
115057  45_98_2013-06-14             0
115058  45_98_2013-06-21             0
115059  45_98_2013-06-28             0
115060  45_98_2013-07-05             0
115061  45_98_2013-07-12             0
115062  45_98_2013-07-19             0
115063  45_98_2013-07-26             0

[115064 rows x 2 columns]

In [12]:
df_sample_submission['Weekly_Sales'] = res

In [13]:
df_sample_submission

                      Id  Weekly_Sales
0         1_1_2012-11-02  14867.003970
1         1_1_2012-11-09  20947.084958
2         1_1_2012-11-16  17409.583292
3         1_1_2012-11-23  20836.538031
4         1_1_2012-11-30  17299.036365
5         1_1_2012-12-07  17188.489438
6         1_1_2012-12-14  17077.942511
7         1_1_2012-12-21  25590.055894
8         1_1_2012-12-28  25479.508967
9         1_1_2013-01-04  16967.395584
10        1_1_2013-01-11  16856.848657
11        1_1_2013-01-18  25258.415113
12        1_1_2013-01-25  25147.868186
13        1_1_2013-02-01  15972.473241
14        1_1_2013-02-08  18515.052563
15        1_1_2013-02-15  25037.321259
16        1_1_2013-02-22  24926.774332
17        1_1_2013-03-01  24816.227405
18        1_1_2013-03-08  19288.881052
19        1_1_2013-03-15  24705.680478
20        1_1_2013-03-22  20504.897250
21        1_1_2013-03-29  24152.945843
22        1_1_2013-04-05  16304.114022
23        1_1_2013-04-12  18846.693344
24        1_1_2013-04-19  23821.305061
25        1_1_2013-04-26  23710.758134
26        1_1_2013-05-03  14977.550897
27        1_1_2013-05-10  21168.178812
28        1_1_2013-05-17  17520.130219
29        1_1_2013-05-24  18404.505636
...                  ...           ...
115034  45_98_2013-01-04  12869.505370
115035  45_98_2013-01-11  12648.411516
115036  45_98_2013-01-18  11542.942246
115037  45_98_2013-01-25  17180.835525
115038  45_98_2013-02-01  14969.896984
115039  45_98_2013-02-08  14859.350057
115040  45_98_2013-02-15  21271.071826
115041  45_98_2013-02-22  14638.256203
115042  45_98_2013-03-01  21160.524899
115043  45_98_2013-03-08  21049.977972
115044  45_98_2013-03-15  20718.337191
115045  45_98_2013-03-22  14306.615422
115046  45_98_2013-03-29  20497.243337
115047  45_98_2013-04-05  14196.068495
115048  45_98_2013-04-12  11764.036100
115049  45_98_2013-04-19  17291.382453
115050  45_98_2013-04-26  13974.974641
115051  45_98_2013-05-03  19833.961775
115052  45_98_2013-05-10  11432.395319
115053  45_98_2013-05-17  11321.848392
115054  45_98_2013-05-24  21713.259535
115055  45_98_2013-05-31  19944.508702
115056  45_98_2013-06-07  18507.398650
115057  45_98_2013-06-14  17733.570161
115058  45_98_2013-06-21  13311.693079
115059  45_98_2013-06-28  17623.023234
115060  45_98_2013-07-05  16849.194744
115061  45_98_2013-07-12  16517.553963
115062  45_98_2013-07-19  11653.489173
115063  45_98_2013-07-26  22044.900316

[115064 rows x 2 columns]

In [14]:
df_sample_submission.to_csv('dataset/submit1.csv', index=False)